<!DOCTYPE html>
<html>
    <head>
        <title>Lê Đức Trọng | Funlish</title>
        <link rel="icon" type="image/x-icon" href="/images/cat2.png">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/leductrong.css">
    </head>
    <body>
        <header class="header"></header>
        <div class="content">
            <div class="khung khung1">
                <div id="avatar"></div>
                <h2>Thông tin cơ bản</h2>
                <div class="information">
                    <ul class="information-list">
                        <li class="information-item">Họ và tên: Lê Đức Trọng</li>
                        <li class="information-item">Ngày sinh: 25/10/2003</li>
                        <li class="information-item">Giới tính: Nam</li>
                        <li class="information-item">Trường: Đại học Sư phạm TpHCM</li>
                        <li class="information-item">Khoa: Công nghệ thông tin</li>
                        <li class="information-item">Khoá: 47</li>
                        <li class="information-item">Quê quán: Quảng Bình</li>
                    </ul>
                </div>
                <h2>Liên hệ</h2>
                <ul class="contact-list">
                    <li class="contact-item"><a href="tel:+84917424911"></a>Điện thoại: 0917424911</li>
                    <li class="contact-item" style="color: black;"><a href="mailto:ductrong03ldt@gmail.com">Email: ductrong03ldt@gmail.com</a></li>
                    <li class="contact-item"><a href="https://www.facebook.com/ductrong.le.2510/">Facebook: Lê Đức Trọng</a></li>
                </ul>
                
            </div>
            <div class="khung khung2">
                <div class="khung_con">
                    <h1>Sở thích</h1>
                    <ul class="list-sothich">
                        <li class="sotich-item">Xem phim</li>
                        <li class="sotich-item">Nghe nhạc</li>
                        <li class="sotich-item">Chạy bộ</li>
                        <li class="sotich-item">Học tập</li>
                    </ul>
                </div>
                <div class="khung_con">
                    <table>
                        <tr>
                            <th>
                                <img class="image" src="https://www.pngitem.com/pimgs/m/268-2686285_woman-listening-to-music-listen-to-music-clipart.png" al="">
                            </th>
                            <th>
                                <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2HLWv-r_RR7e1-wRs3y1Y22VPcRIQGE3TLA&usqp=CAU" alt="">
                            </th>
                            <th>
                                <img class="image" src="https://img.freepik.com/premium-vector/kids-watch-tv-children-movie-home-boy-girl-watches-tv-set-displaying-picture-screen-character-electric-monitor-cartoon-concept_176411-434.jpg?w=2000" alt="">
                            </th>
                            <th>
                                <img class="image" src="https://woc.aises.org/sites/default/files/styles/image730x495/public/March2020-Student-Illo-BLOGPOST-FNL.jpg?itok=sfPCAQLh" alt="">
                            </th>
                        </tr>
                    </table>
                    <h1 >Châm ngôn hay</h1>
                    <div>
                        <p><i>Thất bại chỉ đơn giản là cơ hội để khởi đầu lại một lần nữa một cách sáng suốt hơn.</i></p>
                        <p><i>Nếu tất cả mọi người cùng nhau tiến lên, thành công sẽ tự đến.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>