<!DOCTYPE html>
<html>
    <head>
        <title>Lưu Anh Dũng | Funlish</title>
        <link rel="icon" type="image/x-icon" href="/images/cat5.png">
        <link rel="stylesheet" href="/css/luuanhdung.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class = "main">
        <div class="header row">
            <div class="col-4">
                <a href="/"><img src="/images/luuanhdung/logo.png" width="90%"></a>
                <img src="/images/luuanhdung/img1.png" width="60%">
            </div>
            <div class="col-8">
                <div class="row menu col-12">
                    <ul>
                        <li><a href="/signin" style="background-color: #FFA25A;">Đăng nhập</a></li>
                        <li><a href="/signup" style="background-color: #FFB72C;">Đăng ký</a></li>
                        <li>
                            <div class="search-container">
                                <form action="" method="get">
                                    <input class="search-bar" id="searchright" type="search" name="q" placeholder="Search">
                                    <label class="search-button" for="searchright">
                                        <img src="/images/luuanhdung/search.png" class="search-img">
                                    </label>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row menu col-12">
                    <ul>
                        <li><a href="/" class="current-page" style="background-color: #004AAD;">Trang chủ</a></li>
                        <li><a href="/courses" style="background-color: #1995ED;">Khóa học</a></li>
                        <li><a href="/courses" style="background-color: #84CAED;">Góc học tập</a></li>
                        <li><a href="/blog" style="background-color: #5186CD;">Blog chia sẻ</a></li>
                        <li><a href="/about" style="background-color: #006ea9;">Về chúng tôi</a></li>
                        <li><a href="/contact" style="background-color: #004AAD;">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <img src="/images/luuanhdung/Home.png" width="100%">
        </div>
        <div>
            <div>
                <div class="head">
                    <h1>ABOUT ME</h1>
                </div>
                <div>
                    <div class = "col-4">
                        <div class="column" style="background-color: #FFD864;">
                            <div>
                                <img src="/images/luuanhdung/imgdung1.png" >
                            </div>
                            <h2 style="font-size: 35px;">LƯU ANH DŨNG</h2>
                            <p style="font-size: 30px;">15 - 10 - 2002</p>
                            <ul>
                                <li>Trường Đại học Sư Phạm Thành phố Hồ Chí Minh</li>
                                <li>Khoa Công nghệ thông tin</li>
                                <li>MSSV 47.01.104.071</li>
                            </ul>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class ="column" style="background-color: #FFD864;">
                            <div>
                              <img src="/images/luuanhdung/imgdung2.png">
                            </div>
                            <h2 style="font-size: 35px;">Favorite Singe</h2>
                            <p style="font-size: 30px;">MUSIC</p>
                            <ul>
                                <li>MCK</li>
                                <li>Sơn Tùng MTP</li>
                                <li>Justin Bieber</li>
                                <li>Chillies</li>
                            </ul>
                        </div>
                    </div>
                    <div class = "col-4">
                        <div class="column" style="background-color: #FFD864;">
                            <div>
                               <img src="/images/luuanhdung/imgdung3.png">
                            </div>
                            <h2 style="font-size: 35px;">Hobbies</h2>
                            <p style="font-size: 30px;">SPORT</p>
                            <ul>
                                <li>Đạp xe</li>
                                <li>Đá bóng</li>
                                <li>Nghe Podcast</li>
                                <li>Nghe nhạc</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-6">
                <div class="column1">
                    <img src="/images/luuanhdung/imgdung4.png">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <div class="head">
                        <h1>CONTACT ME</h1>
                    </div>
                    <div>
                        <ul class="infor" style="font-size: 20px; font-family: 'Roboto Mono', monospace;" >
                            <li style="margin-bottom: 10px;"><a href="#" target="_blank"><img src="/images/luuanhdung/icondung1.png" ></a>luuanhdung0203@gmail.com</li>
                            <li style="margin-bottom: 10px;"><a href="#" target="_blank"><img src="/images/luuanhdung/icondung2.png" ></a>Lưu Anh Dũng</li>
                            <li style="margin-bottom: 10px;"><a href="#" target="_blank"><img src="/images/luuanhdung/icondung3.png" ></a>luuanhdungg</li>
                        </ul>
                    </div>
                    <div>
                        <form action="submit-contact-form.php" method="post">
                            <input type="text" id="name" name="name" required placeholder="Your Name"><br><br>
                            <input type="email" id="email" name="email" required placeholder="Your Email"><br><br>
                            <textarea id="message" name="message" rows="5" required placeholder="Your Message"></textarea><br><br>
                            <input type="submit" value="SEND MESSAGE">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
