@font-face {
  font-family: "Aptima";
  src: url("/font/UTM APTIMA.TTF") format("truetype");
}

html * {
  font-family: "Aptima";
}

body {
  cursor: url(/images/cursor-auto.png), auto;
}

a,
.btn:hover {
  cursor: url(/images/cursor-pointer.png), auto;
}

input {
  cursor: url(/images/cursor-text.png), auto;
}

/* Layout */
header {
  background-image: linear-gradient(#FFF5DE 90%,
      white);
}

.main {
  background-color: white;
}

footer {
  background-color: #850000;
  padding: 10px;
  color: white;
}

.floating-border {
  border-radius: 10px;
  box-shadow: 0 2px 3px 0px #bababa;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer hr {
  border-top: 3px solid white;
  margin-right: 90%;
}

hr.title {
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  background-color: #850000;
}

.home-img {
  background-image: url(/images/home-students.png), url(/images/home-school.png), url(/images/home-patterns.png);
  background-position: 85%, 50%, 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.home-text {
  padding-top: 13em;
}

.home-text button {
  margin-left: 9em;
}

@media screen and (max-width: 922px) {
  .home-img {
    background-position: 80%, 0%, 100%;
  }

  .home-text {
    padding-top: 0;
    text-align: center;
  }

  .home-text button {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .home-img {
    height: 300px;
  }
}

/* Color */
.color-topnav {
  background-color: #DC0000;
}

.color-home {
  background-color: #004AAD;
}

.color-courses {
  background-color: #1995ED;
}

.color-play {
  background-color: #84CAED;
}

.color-blog {
  background-color: #5186CD;
}

.color-about {
  background-color: #006EA9;
}

.color-contact {
  background-color: #004AAD;
}

.color-main {
  background-color: #FFF5DE;
}

.color-main-grad {
  background-image: linear-gradient(white 5%,
      #FFF5DE);
}

.color-profile {
  background-color: #fafafa;
}

.text-color-course {
  color: #1995ED;
}

/* Button */
.btn {
  border: none;
  color: white;
  font-size: 18px;
}

.btn:focus {
  color: white;
}

.btn:hover {
  filter: brightness(110%);
  box-shadow: 0 0 3px 1px grey;
  color: black;
}

.btn-menu {
  padding: 0 10px;
}

.btn-search:hover {
  box-shadow: none;
}

.btn-img {
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-blue,
.btn-blue:hover {
  background-color: #5186CD;
}

.btn-red,
.btn-red:hover {
  background-color: #DC0000;
}

.btn-white,
.btn-white:hover,
.btn-white:hover:focus,
.btn-white:visited {
  background-color: white;
  color: black;
}

.btn-160 {
  width: 160px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey;
}

.btn-mb20 {
  margin-bottom: 20px;
}

.btn-corner {
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  font-size: 22px;
}

.btn-corner a:hover {
  color: white;
}

.btn-profile {
  padding: 0;
}

.btn-password {
  padding-left: 0;
  padding-right: 0;
}

.btn-profile:hover,
.btn-username:hover,
.btn-password:hover,
.btn-repassword:hover,
.btn-edit:hover {
  filter: brightness(110%);
  box-shadow: none;
}

.btn-arrow {
  width: 24px;
  position: absolute;
  right: -1em;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-character {
  padding: 10px;
  border-radius: 50%;
}

.btn-background {
  padding: 5px;
  border-radius: 5px;
}

.btn-character img,
.btn-background img {
  width: 60px;
}

/* Navigation bar */
.nav-item {
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.nav-link {
  color: #F2F2F2;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.menu-bar ul li .active {
  text-decoration: underline;
}

/* Vertical navigation */
.active-custom,
.course-menu:hover {
  background-color: #c5e4f3;
  border-right: 5px solid #1995ED;
  border-radius: 10px 0 0 10px;
}

.course-menu {
  border-radius: 10px 0 0 10px;
}

.course-menu:hover,
.active-custom a {
  color: black;
}

.contact img {
  margin-right: 10px;
}

.contact:hover {
  text-decoration: underline;
}

.contact:hover img {
  filter: brightness(120%);
}

footer .container-fluid {
  padding-left: 0;
}

footer .nav-item {
  text-align: left;
}

footer .nav-link {
  font-weight: normal;
}

footer .nav-link:hover,
footer .nav-link:focus {
  color: white;
}

.profile-menu .nav-link {
  position: relative;
  color: grey;
  text-align: left;
}

.profile-menu:hover .nav-link {
  color: black;
}

.profile-menu:hover .btn-arrow {
  width: 30px;
}

.active-profile .nav-link {
  color: black;
}

/* Text */
.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-sign-1 {
  font-weight: bold;
  font-size: 20px;
}

.text-sign-2 {
  color: white;
  font-size: 20px;
}

#error {
  color: red;
  margin-bottom: 15px;
}

.spacing-top {
  margin-top: 180px;
}

.spacing-bottom {
  margin-top: 60px;
  margin-bottom: 180px;
}

.text-black {
  color: black;
}

p {
  font-size: 18px;
}

.right-40 {
  position: absolute;
  right: 40px;
}

.right-15 {
  position: absolute;
  right: 15px;
}

.right {
  text-align: right;
  align-self: flex-end;
  margin-right: 20px;
}

.left {
  text-align: left;
  margin-left: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-intro {
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}

/* Form */
form {
  text-align: center;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='password'],
select,
textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 15px;
}

#info-tab-item form {
  text-align: left;
}

#info-tab-item input[type='text'],
#info-tab-item input[type='email'],
#info-tab-item input[type='date'] {
  width: 250px;
}

/* Card */
.card {
  box-shadow: 0 4px 8px 0 grey;
  overflow: hidden;
}

.card-title {
  font-size: 20px;
}

.card img,
.card-title,
.card a {
  transition: 0.3s;
}

.card:hover .card-img-top {
  transform: translateY(-50px);
  -webkit-mask-image: linear-gradient(white, transparent);
  mask-image: linear-gradient(white, transparent);
}

.card:hover .card-title {
  font-size: 24px;
  font-weight: bold;
}

.card:hover .card-title img {
  filter: brightness(110%);
}

.card a {
  display: none;
  position: absolute;
  top: -3em;
  left: 5em;
  right: 5em;
}

.card:hover a {
  display: block;
}

.play-site {
  background-image: url(/images/funlish-bgi.png);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: contain;
  height: 922px;
}

.play-card {
  display: inline-block;
  position: relative;
  margin: 30px 0;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  box-shadow: 0 0 10px 1px grey;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #353535;
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0) scale(1.03) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.play-img,
.play-icon {
  transition: ease 0.3s;
}

.play-icon {
  position: absolute;
  bottom: -1em;
  right: -1em;
}

.play-card:hover .play-img {
  opacity: 0.5;
}

.play-card:hover .play-icon {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(1.5);
  filter: brightness(1.1)
}

/* Media queries */
@media screen and (max-width: 1350px) and (min-width: 992px) {
  .card a {
    left: 2em;
    right: 2em;
  }
}

@media screen and (max-width: 1200px) {

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  input[type='date'],
  input[type='password'],
  select,
  textarea {
    width: 80%;
  }

  #info-tab-item input[type='text'],
  #info-tab-item input[type='email'],
  #info-tab-item input[type='date'] {
    width: 250px;
  }

  .play-site {
    height: 768px;
  }
}

@media screen and (max-width: 992px) {
  .card a {
    left: 7em;
    right: 7em;
  }

  .play-site {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {

  .corner-img,
  .corner-info {
    text-align: center;
  }

  .spacing-top {
    margin-top: 20px;
  }

  .spacing-bottom {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  iframe {
    height: 400px;
  }

  .carousel-item .col-md-4 {
    width: 33.33%;
  }

  .play-site {
    height: unset;
  }
}

/* Chatbox */
.chat {
  bottom: 20px;
  right: 20px;
  left: auto;
}

.back-to-top {
  opacity: 0;
  bottom: 20px;
  left: 20px;
  right: auto;
  transition: opacity 0.3s;
}

[chat-title]:hover:after {
  visibility: visible;
  transition: all 0.1s ease 0.5s;
}

[chat-title]:after {
  content: attr(chat-title);
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 60px;
  padding: 5px;
  white-space: nowrap;
  background-color: #5186CD;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px grey;
}

[chat-title] {
  position: relative;
}

/* Member */
.carousel-item a {
  padding: 10px;
}

.member {
  cursor: pointer;
  /* border: 1px solid black; */
  box-shadow: 0 0 3px 1px grey;
  border-radius: 10px;
}

.member img {
  width: 80%;
  transition: 0.4s;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
}

.member .info {
  /* border: 1px solid black; */
  /* border-top: 1px dashed grey; */
  box-shadow: 0 0 3px 1px grey;
  border-radius: 0 0 10px 10px;
}

.member .name {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.member .description {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 20px;
}

.member:hover img {
  transform: scale(1.1);
}

.member:hover {
  box-shadow: none;
}

.carousel-indicators [data-bs-target] {
  background-color: grey;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* Profile dropdown */
.dropdown-menu {
  border: none;
  box-shadow: 0 0 7px 1px grey;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  left: auto;
}

.dropdown-item:hover .dropdown-item:hover:focus,
.dropdown-item:visited {
  background-color: #84CAED;
}

/* Matching Game */
.wrapper {
  box-sizing: content-box;
  width: 26.87em;
  padding: 2.5em 3em;
  background-color: #ffffff;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}

.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}

.stats-container span {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: #f4c531;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0%;
}

.btn-yellow,
.btn-yellow:hover {
  background-color: #F4C531;
  color: black;
  padding: 0.5em 1.5em;
}

.btn-black,
.btn-black:hover {
  background-color: black;
  color: white;
  padding: 0.5em 1.5em;
  margin-top: 1.1em;
}

/* .controls-container .btn-yellow {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
} */
.hide {
  display: none;
  visibility: hidden;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

/* Profile */
.avatar {
  /* background */
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.big-avatar {
  width: 300px;
  height: 300px;
  margin: 10px 0;
}

.small-avatar {
  width: 60px;
  height: 60px;
}

.avatar img {
  /* character */
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tab-custom-avatar {
  background-color: white;
  border-radius: 10px;
  margin: 0;
}

.nav-tabs {
  border: none;
}

.tab-custom-avatar .nav-link,
.tab-settings .nav-link {
  color: #595959;
}

.tab-custom-avatar .nav-link.active,
.tab-settings .nav-link.active {
  color: black;
}

/* Settings */