<header class="container-fluid" id="top">
    <div class="row">
        <nav class="navbar navbar-expand-sm color-topnav p-0">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".menu-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu-bar">
                    <ul class="navbar-nav ms-auto">
                        <li class="mt-auto mb-auto pt-1 pb-1">
                            <form class="d-flex ms-auto" action="" method="get">
                                <input class="form-control me-2" type="search" id="search" name="search" placeholder="Tìm kiếm">
                                <button class="btn btn-search p-0" type="submit">
                                    <img src="/images/search.png" class="btn-img">
                                </button>
                            </form>
                        </li>
                        <li class="nav-item" style="box-shadow: none;"><a class="nav-link" href="../HTML/DangNhap.html">Đăng nhập</a></li>
                        <li class="nav-item" style="box-shadow: none;"><a class="nav-link" href="../HTML/DangKy.html">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-3 p-2 text-center mt-auto mb-auto">
            <a href="../HTML/TrangChu.html">
                <img src="/images/logo.png" width="90%">
            </a>
            <img src="/images/img1.png" width="70%">
        </div>
        <div class="col-md-9 text-center mt-auto">
            <nav class="navbar navbar-expand-sm header">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse menu-bar">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item color-homepage">
                                <a class="nav-link active btn-menu" href="../HTML/TrangChu.html">
                                    <img src="/images/homepage.png" class="btn-img">Trang chủ
                                </a>
                            </li>
                            <li class="nav-item color-course">
                                <a class="nav-link btn-menu" href="../HTML/KhoaHoc.html">
                                    <img src="/images/course.png" class="btn-img">Khóa học
                                </a>
                            </li>
                            <li class="nav-item color-corner">
                                <a class="nav-link btn-menu" href="../HTML/GocHocTap.html">
                                    <img src="/images/corner.png" class="btn-img">Góc học tập
                                </a>
                            </li>
                            <li class="nav-item color-blog">
                                <a class="nav-link btn-menu" href="../HTML/BlogChiaSe.html">
                                    <img src="/images/blog.png" class="btn-img">Blog chia sẻ
                                </a>
                            </li>
                            <li class="nav-item color-about">
                                <a class="nav-link btn-menu" href="../HTML/VeChungToi.html">
                                    <img src="/images/about.png" class="btn-img">Về chúng tôi
                                </a>
                            </li>
                            <li class="nav-item color-contact">
                                <a class="nav-link btn-menu" href="../HTML/LienHe.html">
                                    <img src="/images/contact.png" class="btn-img">Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>