{{#if signin}}

{{else}}
<nav class="nav flex-column bg-secondary">
    <a class="nav-link text-light active" aria-current="page" href="/admin">Dashboard</a>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Sites
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a class="nav-link text-dark" href="/admin/home">Home</a>
                <a class="nav-link text-dark" href="/admin/courses">Courses</a>
                <a class="nav-link text-dark" href="/admin/play">Play to Learn</a>
                <a class="nav-link text-dark" href="/admin/blog">Blog</a>
                <a class="nav-link text-dark" href="/admin/about">About</a>
                <a class="nav-link text-dark" href="/admin/contact">Contact</a>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Users
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

            </div>
            </div>
        </div>
    </div>
</nav>
{{/if}}