<div class="fixed-bottom back-to-top">
    <a href="#top">
        <img src="/images/up.png" alt="back to top" style="width: 50px;">
    </a>
</div>

<script>
    var backToTop = document.querySelector(".back-to-top");
    window.addEventListener("scroll", () => {
        if (!window.scrollY) {
            backToTop.style.opacity = "0";
        }
        else {
            backToTop.style.opacity = "1";
        }
    });
</script>