<div class="fixed-bottom up">
    <a href="#top">
        <img src="/images/up.png" alt="up" style="width: 50px;">
    </a>
</div>

<script>
    var backToTop = document.querySelector(".up");
    window.addEventListener("scroll", () => {
        if (!window.scrollY) {
            backToTop.style.display = "none";
        }
        else {
            backToTop.style.display = "block";
        }
    });
</script>