<footer class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="padding-left: 20px;">
            <p class="text-bold">VỀ FUNLISH</p>
            <hr>
            <nav class="navbar">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Trung tâm Funlish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thương hiệu & giá trị</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Đội ngũ sáng lập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Điều khoản sử dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-3" style="padding-left: 20px;">
            <p class="text-bold">HỌC MÀ CHƠI CÙNG FUNLISH</p>
            <hr>
            <nav class="navbar">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Các khóa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/play">Trò chơi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog chia sẻ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-6" style="padding-left: 20px;">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-bold">LIÊN HỆ FUNLISH</p>
                    <hr>
                    <nav class="navbar">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="tel:0949972713">Hotline: 0812345679</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="mailto:funlish@gmail.com">Email: funlish@gmail.com</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Trụ sở: 280 An Dương Vương, Phường 4, Quận 5, Thành phố Hồ Chí Minh</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <p style="font-size: 14px; color: #c5c5c5; margin-left: 5px;">07h00 - 18h00 từ thứ hai đến thứ bảy</p>
                </div>
                <div class="col-md-6">
                    <p class="text-bold">KẾT NỐI VỚI FUNLISH</p>
                    <hr>
                    <nav class="navbar">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="/images/footer-facebook.png" alt="facebook" width="30px">
                                        <span style="margin-left: 10px;">Facebook</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="/images/footer-youtube.png" alt="youtube" width="30px">
                                        <span style="margin-left: 10px;">Youtube</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <p class="text-bold">ĐĂNG KÝ TƯ VẤN MIỄN PHÍ</p>
                <form action="" method="get" name="form-subscribe" class="subscribe">
                    <input type="email" id="email-subscribe" name="email-subscribe" placeholder="Email liên hệ">
                    <input type="submit" class="btn btn-blue" value="Đăng ký">
                </form>
            </div>
        </div>
    </div>
    <hr style="margin-right: 0;">
    <div class="row">
        <p class="text-center">
            &copy Copyright 2023 Funlish. All rights reserved.
        </p>
    </div>
</footer>