<nav class="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto me-auto w-100">
            <li class="nav-item mt-1 profile-menu dashboard">
                <a class="nav-link" href="/dashboard">
                    <img src="/images/dashboard1.png" alt="dashboard" class="btn-img">
                    Bảng điều khiển
                    <img src="/images/right-arrow.png" alt="right arrow" class="btn-arrow">
                </a>
            </li>
            <li class="nav-item mt-1 profile-menu my-course">
                <a class="nav-link" href="/my-course">
                    <img src="/images/mycourses1.png" alt="my courses" class="btn-img">
                    Khóa học của bé
                    <img src="/images/right-arrow.png" alt="right arrow" class="btn-arrow">
                </a>
            </li>
            <li class="nav-item mt-1 profile-menu settings">
                <a class="nav-link" href="/settings">
                    <img src="/images/settings1.png" alt="settings" class="btn-img">
                    Cài đặt
                    <img src="/images/right-arrow.png" alt="right arrow" class="btn-arrow">
                </a>
            </li>
            <li class="nav-item mt-1 profile-menu">
                <a class="nav-link" href="/signout">
                    <img src="/images/signout1.png" alt="sign out" class="btn-img">
                    Đăng xuất
                    <img src="/images/right-arrow.png" alt="right arrow" class="btn-arrow">
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    document.getElementsByClassName("{{active}}")[0].classList.add("active-profile");
</script>