<li class="mt-auto mb-auto pt-1 pb-1">
    <div class="dropdown">
        <button type="button" class="btn btn-profile">
            <img src="/images/profile.png" alt="profile" class="btn-img">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item text-bold" href="/profile">
                <img src="/images/info.png" alt="info" class="btn-img">Thông tin cá nhân
            </a></li>
            <li><a class="dropdown-item text-bold" href="/my-course">
                <img src="/images/mycourses.png" alt="my courses" class="btn-img">Khóa học của bé
            </a></li>
            <li><a class="dropdown-item text-bold" href="/settings">
                <img src="/images/settings.png" alt="settings" class="btn-img">Cài đặt
            </a></li>
            <li><a class="dropdown-item text-bold" href="/signout">
                <img src="/images/signout.png" alt="sign out" class="btn-img">Đăng xuất
            </a></li>
        </ul>
    </div>
</li>