<h2 class="text-center mt-2">Thêm mới thẻ chủ đề '{{topic}}'</h2>
<form method="POST" action="/play/matching-game/{{topic}}/add-card?_method=PUT" name="update-matchinggame-form" onsubmit="return validateForm(event)">
    <div class="mb-4">
        <label for="word" class="form-label">Từ vựng</label>
        <input type="text" class="form-control" id="word" name="word">
    </div>
    <div class="mb-4">
        <label for="picture" class="form-label">Hình ảnh</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="picture" name="picture">
            <button class="btn btn-secondary" type="button" onclick="showPicture()">Xem trước</button>
        </div>
    </div>
    <div class="mb-4 text-center">
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </div>
</form>
<div class="row container-fluid">
    <div class="col-md-4">
        <div id="preview" class="text-center" style="display: hidden;">
            <img id="previewPicture" src="" class="rounded w-100">
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>

<script>
    const showPicture = () => {
        var preview = document.getElementById("preview");
        var previewPicture = document.getElementById("previewPicture");
        const imagePath = document.forms["update-matchinggame-form"]["picture"].value;
        if (imagePath !== "") {
            preview.style.display = "block";
            previewPicture.src = imagePath;
        }
    }

    const validateForm = (e) => {
        const updateMatchingGameForm = document.forms["update-matchinggame-form"];
        const word = updateMatchingGameForm["word"].value;
        const picture = updateMatchingGameForm["picture"].value;
        if (word === "" || picture === "") {
            alert("Thông tin thẻ còn trống!");
            e.preventDefault();
        }
    }
</script>