<div class="container-fluid text-center play-site">
    {{#each matchinggames}}
        <a href="/play/matching-game/{{this.topic}}" class="btn btn-blue" style="margin-top: 20px;">{{this.topic}}</a>
    {{/each}}
</div>

<script>
    const getRandomColor = () => {
        const letters = '0123456789ABCDEF';
        var color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color !== '#FFFFFF' ? color : '#000000';
    }
    const btnTopic = document.getElementsByClassName("btn-blue");
    for (let i = 0; i < btnTopic.length; i++) {
        btnTopic[i].style.backgroundColor = getRandomColor();
    }
</script>