<div class="container-fluid text-center play-site">
    <div class="row">
        <div class="col-md-4">
            <a class="play-card ms-auto me-auto" href="/play/matching-game">
                <img src="/images/fun-matching.png" class="play-img w-100">
                <img src="/images/fun-matching-icon.png" class="play-icon w-25">
            </a>
        </div>
        <div class="col-md-4">
            <a class="play-card ms-auto me-auto" href="/play/word-guessing-game">
                <img src="/images/fun-word-guessing.png" class="play-img w-100">
                <img src="/images/fun-wordsearch-icon.png" class="play-icon w-25">
            </a>
        </div>
        <div class="col-md-4">
            <a class="play-card ms-auto me-auto" href="#">
                <img src="/images/fun-stories.png" class="play-img w-100">
                <img src="/images/fun-stories-icon.png" class="play-icon w-25">
            </a>
        </div>
    </div>
</div>