<div class="wrapper">
    <div class="hint-ref"></div>
    <div id="user-input-section"></div>
    <div id="message"></div>
    <div id="letter-container"></div>
    <form method="GET" action="/play">
        <button type="submit" id="exit">Thoát</button>
    </form>
    
</div>
<div class="controls-container">
    <div id="result"></div>
    <div id="word"></div>
    <button id="start">Bắt đầu</button>
</div>

<script>
    //Word and Hints Object

    const options = {
        old: "cũ/già",
        new: "mới/trẻ",
        cat: "con mèo",
        dog: "con chó",
        bird: "con Chim",
        fish: "con cá",
        mouse: "con chuột",
        elephant: "con voi",
        firaffe: "con hươu cao cổ",
        lion: "con sư tử",
        tiger: "con hổ",
        monkey: "con khỉ",
        horse: "con ngựa",
        cow: "con bò",
        sheep: "con ngựa",
        pig: "con lợn",
        chicken: "con gà",
        frog: "con ếch",
        butterfly: "con bướm",
        bee: "con ong",
        ant: "con kiến",
        spider: "con nhện",
        sun: "mặt trời",
        moon: "mặt trăng",
        star: "ngôi sao",
        tree: "cây",
        flower: "hoa",
        grass: "cỏ",
        cloud: "mây",
        rain: "mưa",
        snow: "tuyết",
        icecream: "kem",
        book: "sách",
        pen: "bút",
        pencil: "bút chì",
        eraser: "cục tẩy",
        ruler: "thước",
        school: "trường học",
        teacher: "giáo viên",
        student: "học sinh",
        classroom: "lớp học",
        desk: "bàn học",
        chair: "con ếch",
        bag: "túi sách",
        lunchbox: "hộp cơm",
        waterbottle: "chai nước",
        playground: "sân chơi",
        ball: "quả bóng",
        toy: "đồ chơi",
        game: "trò chơi",
        music: "âm nhạc",
        dance: "khiêu vũ/múa",
    };

    //Initial References
    const message = document.getElementById("message");
    const hintRef = document.querySelector(".hint-ref");
    const controls = document.querySelector(".controls-container");
    const startBtn = document.getElementById("start");
    const letterContainer = document.getElementById("letter-container");
    const userInpSection = document.getElementById("user-input-section");
    const resultText = document.getElementById("result");
    const word = document.getElementById("word");
    const words = Object.keys(options);
    let randomWord = "",
        randomHint = "";
    let winCount = 0,
        lossCount = 0;

    //Generate random value
    const generateRandomValue = (array) => Math.floor(Math.random() * array.length);

    //Block all the buttons
    const blocker = () => {
        let lettersButtons = document.querySelectorAll(".letters");
        stopGame();
    };

    //Start Game
    startBtn.addEventListener("click", () => {
        controls.classList.add("hide");
        init();
    });

    //Stop Game
    const stopGame = () => {
        controls.classList.remove("hide");
    };

    //Generate Word Function
    const generateWord = () => {
        letterContainer.classList.remove("hide");
        userInpSection.innerText = "";
        randomWord = words[generateRandomValue(words)];
        randomHint = options[randomWord];
        hintRef.innerHTML = `<div id="wordHint">
  <span>Từ tiếng Việt: </span> ${randomHint}</div>`;
        let displayItem = "";
        randomWord.split("").forEach((value) => {
            displayItem += '<span class="inputSpace">_ </span>';
        });

        //Display each element as span
        userInpSection.innerHTML = displayItem;
        userInpSection.innerHTML += `<div id='chanceCount'>Chances Left: ${lossCount}</div>`;
    };

    //Initial Function
    const init = () => {
        winCount = 0;
        lossCount = 5;
        randomWord = "";
        word.innerText = "";
        randomHint = "";
        message.innerText = "";
        userInpSection.innerHTML = "";
        letterContainer.classList.add("hide");
        letterContainer.innerHTML = "";
        generateWord();

        //For creating letter buttons
        for (let i = 65; i < 91; i++) {
            let button = document.createElement("button");
            button.classList.add("letters");

            //Number to ASCII[A-Z]
            button.innerText = String.fromCharCode(i);

            //Character button onclick
            button.addEventListener("click", () => {
                message.innerText = `Correct Letter`;
                message.style.color = "#008000";
                let charArray = randomWord.toUpperCase().split("");
                let inputSpace = document.getElementsByClassName("inputSpace");

                //If array contains clicked value replace the matched Dash with Letter
                if (charArray.includes(button.innerText)) {
                    charArray.forEach((char, index) => {
                        //If character in array is same as clicked button
                        if (char === button.innerText) {
                            button.classList.add("correct");
                            //Replace dash with letter
                            inputSpace[index].innerText = char;
                            //increment counter
                            winCount += 1;
                            //If winCount equals word length
                            if (winCount == charArray.length) {
                                resultText.innerHTML = "Chiến thắng";
                                startBtn.innerText = "Chơi tiếp";
                                //block all buttons
                                blocker();
                            }
                        }
                    });
                } else {
                    //lose count
                    button.classList.add("incorrect");
                    lossCount -= 1;
                    document.getElementById(
                        "chanceCount"
                    ).innerText = `Cơ hội còn lại: ${lossCount}`;
                    message.innerText = `Incorrect Letter`;
                    message.style.color = "#ff0000";
                    if (lossCount == 0) {
                        word.innerHTML = `The word was: <span>${randomWord}</span>`;
                        resultText.innerHTML = "Game Over";
                        blocker();
                    }
                }

                //Disable clicked buttons
                button.disabled = true;
            });

            //Append generated buttons to the letters container
            letterContainer.appendChild(button);
        }
    };

    window.onload = () => {
        init();
    };

</script>