<div class="main container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a class="card ms-auto me-auto" href="#" style="width: 80%; margin: 30px 0;">
                <img src="/images/img7.png" class="card-img-top" width="100%">
                <div class="card-body text-center">
                    <p class="card-title">Chia sẻ mẹo hay</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="card ms-auto me-auto" href="#" style="width: 80%; margin: 30px 0;">
                <img src="/images/img8.png" class="card-img-top" width="100%">
                <div class="card-body text-center">
                    <p class="card-title">Hỏi đáp học tập</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="card ms-auto me-auto" href="#" style="width: 80%; margin: 30px 0;">
                <img src="/images/img9.png" class="card-img-top" width="100%">
                <div class="card-body text-center">
                    <p class="card-title">Tài liệu tham khảo</p>
                </div>
            </a>
        </div>
    </div>
</div>