<div class="main container-fluid">
    <div id="intro" class="carousel slide ms-auto me-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#intro" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#intro" data-bs-slide-to="1"></button>
            <!-- <button type="button" data-bs-target="#intro" data-bs-slide-to="2"></button> -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-6 text-center mt-auto mb-auto">
                        <h1 class="text-bold">Let's learn English with Fun!</h1>
                        <p>[Introduction]</p>
                        <a href="/signup">
                            <button type="button" class="btn btn-blue btn-mb20 ms-auto me-auto">Bắt đầu ngay</button>
                        </a>
                    </div>
                    <div class="col-md-6 p-0">
                        <img src="/images/img2.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/img11.png" width="100%">
            </div>
            <!-- <div class="carousel-item">

            </div> -->
        </div>
        <!-- <button class="carousel-control-prev btn-carousel left" data-slide="prev" type="button" data-bs-target="#intro" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next btn-carousel right" data-slide="next" type="button" data-bs-target="#intro" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button> -->
    </div>
    <div class="row color-main">
        <div class="col-md-4 corner-img">
            <img src="/images/img3.png" width="80%">
        </div>
        <div class="col-md-8 mt-auto mb-auto corner-info">
            <h2 style="margin-bottom: 20px;">
                <span class="text-bold">Góc học tập</span> với hàng ngàn<br>tài liệu, bài tập miễn phí<br>
            </h2>
            <a href="/play">
                <button class="btn btn-red btn-mb20">Xem thêm</button>
            </a>
        </div>
    </div>
    <div class="row color-main">
        <div id="text" class="col-md-8 mt-auto mb-auto text-right corner-info">
            <h2 style="margin-bottom: 20px;">
                Các <span class="text-bold">khóa học</span> được thiết kế<br>với lộ trình học tập bài bản
            </h2>
            <a href="/courses">
                <button class="btn btn-red btn-mb20">Xem thêm</button>
            </a>
        </div>
        <div class="col-md-4 corner-img">
            <img src="/images/img4.png" width="80%">
        </div>
    </div>
    <div class="row color-main">
        <div class="col-md-4 corner-img">
            <img src="/images/img5.png" width="80%">
        </div>
        <div class="col-md-8 mt-auto mb-auto corner-info">
            <h2 style="margin-bottom: 20px;">
                <span class="text-bold">Blog chia sẻ</span> mẹo hay<br>cho học viên và phụ huynh
            </h2>
            <a href="/blog">
                <button class="btn btn-red btn-mb20">Xem thêm</button>
            </a>
        </div>
    </div>
</div>