<div class="main container-fluid">
    <div class="text-center">
        <h2 class="text-bold">Trung tâm Funlish</h2>
        <hr class="title">
        <div class="container-fluid">
            <p class="text-intro">
                Chào mừng đến với <span class="text-bold">Funlish</span> - nơi cung cấp các khóa học tiếng Anh trực tuyến dành cho trẻ em.
                Với sứ mệnh tạo ra một môi trường học tập an toàn, thân thiện và đầy hứa hẹn cho các em nhỏ, 
                chúng tôi cam kết mang đến cho các em nhỏ những trải nghiệm học tập tiếng Anh tuyệt vời nhất.
            </p>
            <p class="text-intro">
                <a href="../HTML/KhoaHoc.html" class="text-bold text-color-course">Các khóa học</a> của chúng tôi được thiết kế đặc biệt cho trẻ em,
                giúp các em phát triển kỹ năng ngôn ngữ, tăng cường sự tự tin và cải thiện khả năng giao tiếp bằng tiếng Anh.
                Với đội ngũ giáo viên giàu kinh nghiệm, chúng tôi cam kết mang đến cho các em những bài học thú vị, truyền cảm hứng và hỗ trợ học tập tối đa.
            </p>
        </div>
    </div>
    <div class="text-center">
        <h2 class="text-bold">Đội ngũ sáng lập</h2>
        <hr class="title">
        <div id="founder" class="carousel slide w-75 ms-auto me-auto" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#founder" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#founder" data-bs-slide-to="1"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="../Individual-Blog/TranHoangYenNhi/Blog.html">
                                <div class="member">
                                    <img src="/images/cat1.png">
                                    <div class="info">
                                        <div class="name">Trần Hoàng Yến Nhi</div>
                                        <div class="description">[Chức vụ]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="../Individual-Blog/LeDucTrong/blogldt.html">
                                <div class="member">
                                    <img src="/images/cat2.png">
                                    <div class="info">
                                        <div class="name">Lê Đức Trọng</div>
                                        <div class="description">[Chức vụ]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="../Individual-Blog/LeDuyDuc/profiLe.html">
                                <div class="member">
                                    <img src="/images/cat3.png">
                                    <div class="info">
                                        <div class="name">Lê Duy Đức</div>
                                        <div class="description">[Chức vụ]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="../Individual-Blog/LePhuNhan/LabWeb.html">
                                <div class="member">
                                    <img src="/images/cat4.png">
                                    <div class="info">
                                        <div class="name">Lê Phú Nhân</div>
                                        <div class="description">[Chức vụ]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="../Individual-Blog/LuuAnhDung/LADBlog.html">
                                <div class="member">
                                    <img src="/images/cat5.png">
                                    <div class="info">
                                        <div class="name">Lưu Anh Dũng</div>
                                        <div class="description">[Chức vụ]</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev btn-carousel left" data-slide="prev" type="button" data-bs-target="#founder" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next btn-carousel right" data-slide="next" type="button" data-bs-target="#founder" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>