<div class="main container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/images/signnow.png" width="50%" style="margin-top: 20px;">
            <p class="text-sign-1">Đăng ký bằng</p>
            <nav>
                <a href="#" style="padding-right: 10px;"><img src="/images/facebook.png" width="50px"></a>
                <a href="#" style="padding-left: 10px;"><img src="/images/email.png" width="50px"></a>
            </nav>
            <p class="text-sign-1">Hoặc tạo tài khoản</p>
            <form action="" method="post" name="signup-form">
                <input type="text" id="username" name="username" placeholder="Tài khoản"><br>
                <input type="password" id="password" name="password" placeholder="Mật khẩu"><br>
                <input type="password" id="repassword" name="repassword" placeholder="Xác nhận mật khẩu"><br>
                <input class="btn btn-red btn-160" style="margin-bottom: 20px;" type="submit" formaction="#" value="Đăng ký">
            </form>
        </div>
        <div class="col-md-6 text-center text-sign-2" style="background-color: #EB452B;">
            <h2 class="spacing-top">Đã có tài khoản?</h2>
            <p>Đăng nhập và bắt đầu hành trình học tập nào.</p>
            <a href="/signin" class="btn btn-white btn-160 spacing-bottom">Đăng nhập</a>
        </div>
    </div>
</div>